# 4.6 Combining & Exporting

## Setup

In [46]:
# Import Libraries

import pandas as pd
import numpy as np
import os

## Import the data orders prior

In [48]:
# Import Data Orders Prior

path = r'C:\Users\lefev\Documents\Data Analytics Course\Instacart Basket Analysis'

In [49]:
path

'C:\\Users\\lefev\\Documents\\Data Analytics Course\\Instacart Basket Analysis'

In [50]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [51]:
# Check df_ords_prior dimensions

df_ords_prior.shape

(32434489, 4)

In [52]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

## Import the df_ords

In [54]:
# Import df_ords

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords.csv'), index_col = False)

In [55]:
# Check df_ords shape and dimensions

df_ords.shape

(3421083, 8)

In [56]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## Merge dataframes

In [58]:
# Merge df_ords with df_ords_prior

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [59]:
# Check Shape

df_merged_large.shape

(32434489, 12)

In [60]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [61]:
# Check the number of values in the merge column

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [62]:
# Check frequency of the merge with how = 'outer'

df_merged_large = df_ords.merge(df_ords_prior, on='order_id', how='outer', indicator=True)

In [63]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [64]:
# Keep only rows where merge is 'both' to have the 32,434,489 number as the exercise requests

df_final = df_merged_large[df_merged_large['_merge'] == 'both']

In [65]:
df_final.shape

(32434489, 12)

## Export into pickle format

In [67]:
# Export

df_final.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))