# 4.6 Combining & Exporting Task

## Import Libraries

In [3]:
# Import Libraries

import pandas as pd
import numpy as np
import os

## Import merged data orders prior dataframe

In [5]:
# Import Data Orders Prior

path = r'C:\Users\lefev\Documents\Data Analytics Course\Instacart Basket Analysis'

In [6]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [7]:
# Check shape and dimnesions

df_orders_products_combined.shape

(32434489, 12)

In [8]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
1,3355525,2,202279,prior,3,5,9,8.0,33120.0,1.0,1.0,both
2,3355525,2,202279,prior,3,5,9,8.0,28985.0,2.0,1.0,both
3,3355525,2,202279,prior,3,5,9,8.0,9327.0,3.0,0.0,both
4,3355525,2,202279,prior,3,5,9,8.0,45918.0,4.0,1.0,both
5,3355525,2,202279,prior,3,5,9,8.0,30035.0,5.0,0.0,both

## Answer

Shape is correct

In [10]:
# Drop the _merge column in df_orders_products_combined so we can create a new column called _merged in the final merged df

df_orders_products_combined = df_orders_products_combined.drop(columns=['_merge'])

In [11]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered
1,3355525,2,202279,prior,3,5,9,8.0,33120.0,1.0,1.0
2,3355525,2,202279,prior,3,5,9,8.0,28985.0,2.0,1.0
3,3355525,2,202279,prior,3,5,9,8.0,9327.0,3.0,0.0
4,3355525,2,202279,prior,3,5,9,8.0,45918.0,4.0,1.0
5,3355525,2,202279,prior,3,5,9,8.0,30035.0,5.0,0.0

## Import cleaned products dataframe

In [13]:
# Import products data

df_prod = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_prods_clean.csv'), index_col = False)

In [14]:
# Check shape and dimensions

df_prod.shape

(49672, 5)

In [15]:
df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## Merge the dataframes

In [17]:
# Merge df_orders_products_combined with df_prod

df_final_merged = df_orders_products_combined.merge(df_prod, on = 'product_id', indicator = True)

In [18]:
df_final_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,3355525,2,202279,prior,3,5,9,8.0,33120.0,1.0,1.0,Organic Egg Whites,86,16,11.3,both
1,3355525,2,202279,prior,3,5,9,8.0,28985.0,2.0,1.0,Michigan Organic Kale,83,4,13.4,both
2,3355525,2,202279,prior,3,5,9,8.0,9327.0,3.0,0.0,Garlic Powder,104,13,3.6,both
3,3355525,2,202279,prior,3,5,9,8.0,45918.0,4.0,1.0,Coconut Butter,19,13,8.4,both
4,3355525,2,202279,prior,3,5,9,8.0,30035.0,5.0,0.0,Natural Sweetener,17,13,13.7,both

In [19]:
# Check results with merge flag

df_final_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## The exercise mentions to only do an inner merge with the Instacart data. So I will leave the left and right only. I believe this makes sense as we want all the infromation from both dataframes.

# Export

In [22]:
# Export the merged dataframe to pkl

df_final_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_prods_merge.pkl'))